<div>
	<div class = "row" >
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
				    <h4> Group Information </h4>
				    <table class="table table-responsive" cellspacing="3" >
					    <tr ng-if="mode!='new'">
					    	<td>Group Id:</td>
					    	<td>{{tabledata.entity._id}}</td>
					    </tr>
					    <tr>
					    	<td>Group Name:</td>
					    	<td ng-if="mode=='edit' || mode=='new'"> <input type="text" class="form-control"  ng-model ="tabledata.entity.name" required> </td>
								<td ng-if="mode=='view' || mode=='deleted'"> {{tabledata.entity.name}} </td>
					    </tr>
						<tr>
							<td>Description:</td>
							<td ng-if="mode=='edit' || mode=='new'"> <input type="textarea" rows="4" class="form-control"  ng-model ="tabledata.entity.description" > </td>
							<td ng-if="mode=='view' || mode=='deleted'"> {{tabledata.entity.description}} </td>
						</tr>
						<tr >
							<td>Permissions:</td>
							<td>
								<div ng-if="mode=='edit' || mode=='new'" ng-repeat="permission in tabledata.permissions">
									{{permission.name}} <input type="checkbox" checklist-model="tabledata.entity.permissions" checklist-value="permission">
							  </div>
							  <div ng-if="mode=='view' || mode=='deleted'" ng-repeat="permission in tabledata.entity.permissions">
									{{permission.name}}
							  </div>
							</td>
						</tr>
						<tr ng-if="mode!='new'">
							<td>Applications:</td>
							<td>
							<span ng-repeat="application in tabledata.entity.applications">{{application.name}}, </span>
						  </td>
						</tr>
						<tr ng-if="mode!='new'">
							<td>Users:</td>
							<td>
							<span ng-repeat="user in tabledata.entity.users">{{user.username}}, </span>
						  </td>
						</tr>
					</table>
					<div ng-if="mode=='new'">
			    	<button  type="submit" class="btn btn-default" ng-click = "add()">Add</button>
			    	<button  type="submit" class="btn btn-default" ng-click = "cancelAdd()">Cancel</button>
			    </div>
			    <div ng-if="mode=='edit'">
			    	<button type="submit" class="btn btn-default" ng-click = "update()">Update</button>
			    	<button type="submit" class="btn btn-default" ng-click = "cancelUpdate()">Cancel</button>
			    </div>
			    <div ng-if="mode=='view'">
			    	<button type="submit" class="btn btn-default" ng-click = "edit()">Edit</button>
			    	<button type="submit" class="btn btn-default" ng-click = "cancelEdit()">Cancel</button>
			    </div>
			    <div ng-if="mode=='deleted'">
			    	<button type="submit" class="btn btn-default" ng-click = "restore()">Restore</button>
			    	<button type="submit" class="btn btn-default" ng-click = "cancelEdit()">Cancel</button>
			    </div>
	  					<alert type="{{alert.type}}" close="closeAlert()" ng-show="alert != null" >
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								{{alert.msg}}
						</alert>
			</form>
	</div>


<div>