<div>
	<div class = "row" >
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
				    <h4> Group Information </h4>
				    <table class="table table-responsive" cellspacing="3" >
					    <tr ng-if="mode!='add'">
					    	<td>Group Id:</td>
					    	<td>{{_id}}</td>
					    </tr>
					    <tr>
					    	<td>Group Name:</td>
					    	<td ng-if="mode!='view'"> <input type="text" class="form-control"  ng-model ="groupData.name" required> </td>
								<td ng-if="mode=='view'"> {{groupData.name}} </td>
					    </tr>
						<tr>
							<td>Description:</td>
							<td ng-if="mode!='view'"> <input type="textarea" rows="4" class="form-control"  ng-model ="groupData.description" > </td>
							<td ng-if="mode=='view'"> {{groupData.description}} </td>
						</tr>
						<tr >
							<td>Permissions:</td>
							<td>
							   <div ng-repeat="permission in permissions" ng-show="mode!='view'">
								  <input type="checkbox" data-checklist-model="groupData.permissions" data-checklist-value="permission" ng-disabled="mode=='view'"> {{permission.name}}  
							  </div>
							  <span ng-repeat="permission in permissions" ng-show="mode=='view'">{{permission.name}}, </span>
						    </td>
						</tr>
						<tr ng-show="mode!='add'">
							<td>Applications:</td>
							<td>
							<span ng-repeat="application in groupData.applications" ng-show="mode=='view'">{{application.name}}, </span>
						  </td>
						</tr>
						<tr ng-show="mode!='add'">
							<td>Users:</td>
							<td>
							<span ng-repeat="user in groupData.users">{{user.username}}, </span>
						  </td>
						</tr>
					</table>
					<div ng-show="mode=='add'">
			    	<button  type="submit" class="btn btn-default" ng-click = "add()" ng-if="add">Add</button>
			    	<button  type="submit" class="btn btn-default" ng-click = "cancelAdd()" ng-if="add">Cancel</button>
			    </div>
			    <div ng-show="mode=='edit'">
			    	<button type="submit" class="btn btn-default" ng-click = "update()" ng-if="edit">Update</button>
			    	<button type="submit" class="btn btn-default" ng-click = "cancelUpdate()" ng-if="edit">Cancel</button>
			    </div>
			    <div ng-show="mode=='view'">
			    	<button type="submit" class="btn btn-default" ng-click = "edit()">Edit</button>
			    	<button type="submit" class="btn btn-default" ng-click = "cancelEdit()">Cancel</button>
			    </div>
	  					<alert type="{{alert.type}}" close="closeAlert()" ng-show="alert != null" >
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								{{alert.msg}}
						</alert>
			</form>
	</div>


<div>