<div>
	<div class = "row" >
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
				  <h4> Permission Information </h4>
				  <table class="table table-responsive" cellspacing="3" >
					  <tr ng-if="!add">
				    	<td>Permission Id:</td>
					    <td>{{_id}}</td>
				    </tr>					   
						<tr>
							<td>Permission Name:</td>
							<td ng-if="mode!='view'"> <input type="text" class="form-control"  ng-model ="permissionData.name" required> </td>
							<td ng-if="mode=='view'"> {{permissionData.name}} </td>
						</tr>
						<tr>
							<td>Type:</td>
							<td ng-if="mode!='view'"> <input list="types" class="form-control"  ng-model ="permissionData.type" >
								<datalist id="types">
								  <option value="generic">
								  <option value="model">
								  <option value="url">
								</datalist>
							</td>
							<td ng-if="mode=='view'"> {{permissionData.type}} </td>
						</tr>
						<tr>
							<td>Description:</td>
							<td ng-if="mode!='view'"> <input type="textarea" rows="4" class="form-control"  ng-model ="permissionData.description" > </td>
							<td ng-if="mode=='view'"> {{permissionData.description}} </td>
						</tr>
						<tr>
							<td>Url:</td>
							<td ng-if="mode!='view'"> <input type="textarea" rows="2" class="form-control"  ng-model ="permissionData.url"> </td>
							<td ng-if="mode=='view'"> {{permissionData.url}} </td>
						</tr>
						<tr>
							<td>Model:</td>
							<td ng-if="mode!='view'"> <input type="textarea" rows="2" class="form-control"  ng-model ="permissionData.model"> </td>
							<td ng-if="mode=='view'"> {{permissionData.model}} </td>
						</tr>
						<tr >
							<td>Groups:</td>
							<td>
								<div ng-repeat="group in permissionData.groups">
									{{group.name}} , Show Applications <input type="checkbox" ng-model="applications_checked">
									<div ng-show="applications_checked">
											<span ng-repeat="application in group.applications">{{application.name}} ,</span>
									</div>
									Show Users <input type="checkbox" ng-model="users_checked">
									<div ng-show="users_checked">
										<span ng-repeat="user in group.users">{{user.username}} ,</span>
									</div>
							  </div>								
							</td>							
						</tr>
					</table>
					<div ng-show="mode=='add'">
			    	<button  type="submit" class="btn btn-default" ng-click = "add()" ng-if="add">Add</button>
			    	<button  type="submit" class="btn btn-default" ng-click = "cancelAdd()" ng-if="add">Cancel</button>
			    </div>
			    <div ng-show="mode=='edit'">
			    	<button type="submit" class="btn btn-default" ng-click = "update()" ng-if="edit">Update</button>
			    	<button type="submit" class="btn btn-default" ng-click = "cancelUpdate()" ng-if="edit">Cancel</button>
			    </div>
			    <div ng-show="mode=='view'">
			    	<button type="submit" class="btn btn-default" ng-click = "edit()">Edit</button>
			    	<button type="submit" class="btn btn-default" ng-click = "cancelEdit()">Cancel</button>
			    </div>
					<alert type="{{alert.type}}" close="closeAlert()" ng-show="alert != null" >
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>		
							{{alert.msg}}
					</alert>
				</div>
			</form>
	</div>
</div>