<div >
	<div class = "row">
		<h4> Panacea Users <h4>
		
		<table id="usersTbl" class="table table-striped table-bordered" cellspacing="0" width="100%">
		    <thead>
		        <tr>		            
		            <th >UserId</th>
		            <th >Username</th>
		            <th >isDeleted</th>		           
		        </tr>
		    </thead>
			
			<tbody>
	            <tr ng-repeat = "user in usersTable.data" >
	                <td>{{user[0].userId}}</td>
	                <td>{{user[1].username}}</td>
	                <td>{{user[2].isDeleted}}</td>
	                
	            </tr>
			</tbody>


		    <tfoot>
		        <tr>		            
		            <th >UserId</th>
		            <th >Username</th>
		            <th >isDeleted</th>	           
		        </tr>
		    </tfoot>

		</table>
	</div>
	
</div>