<div  >
	<div class = "row">
		<h4> Panacea Users <h4>
		<table ng-show="usersTable.ready" st-table="displayedCollection" st-safe-src="usersTable.data" class="table table-striped">
			<thead>
				<tr>			
					<th colspan="4">
						<input st-search placeholder="Search" class="input-sm form-control" type="search"/>
					</th>
				</tr>
				<tr>
					<th st-sort="value">User Id</th>
					<th st-sort="value">Username</th>
					<th st-sort="value">Is deleted</th>			
				</tr>		
			</thead>

			<tbody>
			  	<tr ng-repeat="user in usersTable.data">
					<td ng-repeat="field in user" >{{field.value}}</td>					
				</tr>
			</tbody>

			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="2" st-displayed-pages="5"></div>
					</td>
				</tr>
			</tfoot>
	</table>
	</div>
	
</div>