<div>
	<div class = "row" >
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
				    <h4> User Information </h4>
				    <table class="table table-responsive" cellspacing="3" >
					    <tr ng-if="showit">
					    	<td>User Id:</td>
					    	<td> {{userId}}</td>
					    </tr>					   
						<tr>
							<td>Username:</td>
							<td> <input type="text" class="form-control"  ng-model ="userData.username" required> </td>		
						</tr>
						<tr>
							<td>Password:</td>
							<td> <input type="password" class="form-control"  ng-model ="userData.password" required> </td> 
						</tr>
						<tr ng-if="showIt">
							<td>Is Deleted:</td>
							<td> {{isDeleted}}</td> 
						</tr>
						<tr>
							<td>Group ID:</td>
							<td> <input type="text" class="form-control"  ng-model ="userData.groupId" required> </td> 
						</tr>
						
					</table>
					
					    <button type="submit" class="btn btn-default" ng-click = "add()">Add</button>
	  					<button type="submit" class="btn btn-default" ng-click = "delete()" ng-if="showIt">Delete</button>
	  					<button type="submit" class="btn btn-default" ng-click = "update()" ng-if="showIt">Update</button>
			</form>
	</div>


<div>