<div>
	<div class = "row" >
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<h4> RequestedPermission Information </h4>
					<table class="table table-responsive" cellspacing="3" >
						<tr ng-if="showIt">
							<td>RequestedPermission Id:</td>
					    <td>{{_id}}</td>
					  </tr>
					  <tr>
					   	<td>RequestedPermission Name:</td>
					   	<td> <input type="text" class="form-control"  ng-model ="requestedPermissionData.name" > </td>
					  </tr>						   
					  <tr>
					   	<td>User:</td>
							<td> <input type="text" class="form-control"  ng-model ="requestedPermissionData.user" > </td>		
						</tr>	
						<tr>
							<td>Application:</td>
							<td> <input type="text" class="form-control"  ng-model ="requestedPermissionData.application" > </td>		
						</tr>	
					</table>
					<alert type="{{alert.type}}" close="closeAlert()" ng-show="alert != null" >
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>		
							{{alert.msg}}
					</alert>
			</div>
		</form>
	</div>
<div>