<div class="portlet box blue-hoki" >
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-globe"></i>
      <h3> {{tabletitle}}</h3>
    </div>
  </div>
  <div class="portlet-body">
    <table class="table table-striped table-bordered table-hover" id="{{tableid}}">
      <thead>
        <tr>
          <th ng-repeat="title in tabledata.headers" ng-if="title.showIt">{{title.title}}</th>
          <th translate>Create</th>
          <th translate>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in tabledata.data" ng-init="rowNum = $index">
          <td ng-repeat="item in row" ng-if="item.showIt" >{{item.value}}</td>
          <td>
            <button class='btn btn-warning btn-xs' type="submit" ng-click="create_permission(rowNum)" value="create">
              <span class="glyphicon glyphicon-plus fa fa-times" aria-hidden="true"></span><translate> Create</translate>
            </button>
          </td>
          <td>
            <button class='btn btn-danger btn-xs' type="submit" ng-click="delete_entity(rowNum)" value="delete">
              <span class="glyphicon glyphicon-minus fa fa-times" aria-hidden="true"></span><translate> Delete</translate>
            </button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>