<div class="portlet box blue-hoki" >
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>
                <h3> {{tabletitle}} </h3>
        </div>
    </div>
    <div class="portlet-body">		

        <button type="button" class="btn btn-info btn-sm" ng-click="addNewEntity()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New 
        </button>

		 <table class="table table-striped table-bordered table-hover" id="{{tableid}}">
            <thead>               
                <tr>
                    <th ng-repeat="title in tabledata.header" ng-if="title.showIt">{{title.title}}</th>  
                    <th>Edit</th>  
                    <th>Delete</th>                  
                </tr>
            </thead>
            <tbody ng-if="tableeditable ">
                <tr ng-repeat="row in tabledata.data" ng-init="rowNum = $index">
                    <td ng-repeat="item in row" ng-if="item.showIt" >{{item.value}}</td>
                    <td>
                        <button class='btn btn-warning btn-xs' type="submit" ng-click="edit_entity(rowNum)" value="edit">
                           <span class="glyphicon glyphicon-pencil fa fa-times" aria-hidden="true"></span> Edit
                        </button>
                    </td> 
                    <td>
                        <button class='btn btn-danger btn-xs' type="submit" ng-click="delete_entity(rowNum)" value="delete">
                           <span class="glyphicon glyphicon-minus fa fa-times" aria-hidden="true"></span> Delete
                        </button> 
                    </td>                                  
                </tr>
            </tbody>
            <tbody ng-if="!tableeditable">
                <tr ng-repeat="row in tabledata.data">
                    <td ng-repeat="item in row">{{item.value}}</td>
                </tr>
            </tbody>
        </table>
	</div>
	
</div>